# Secret & Private Credentials
credentials/private/
*.env
!credentials/public/*.env.example
credentials/public/*.json
!credentials/public/company_public_info.json
*.pem
*.key

# IDE & OS Junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node dependencies
node_modules/

