# Secret & Private Credentials
credentials/private/
*.env
!credentials/public/*.env.example
*.json
!package.json
*.pem
*.key

# IDE & OS Junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node dependencies
node_modules/

