# PUBLIC TEMPLATE FOR CO-DEVELOPERS
# DO NOT COMMIT REAL SECRETS HERE

GOOGLE_SHEET_ID=your_sheet_id_here
GOOGLE_DRIVE_FOLDER_ID=your_drive_folder_id_here
APPS_SCRIPT_WEBHOOK_URL=https://script.google.com/macros/s/YOUR_EXEC_ID/exec

GOOGLE_CLIENT_ID=your_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_client_secret

DISCORD_BOT_TOKEN=your_bot_token
DISCORD_CLIENT_ID=your_client_id
DISCORD_GUILD_ID=your_server_id

