# PUBLIC TEMPLATE FOR CO-DEVELOPERS
# DO NOT COMMIT REAL SECRETS HERE

AUTHENTICATED_USER=lab@studiotunnel.com
GCP_PROJECT_ID=st-in-gen
GCP_PROJECT_NUMBER=972643538415

# GOOGLE SPREADSHEET SOURCE DOCUMENTS
ACCOUNTS_SPREADSHEET_TITLE=ACCOUNTS_CINELOOM POSTWORKS_2026_ANTIGRAVITY
ACCOUNTS_SPREADSHEET_ID=1NgJFSEz1C7F2AG2TRijwLDkFwGeK45iUd_S3PJkwg-A
ACCOUNTS_SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/1NgJFSEz1C7F2AG2TRijwLDkFwGeK45iUd_S3PJkwg-A/edit?gid=0#gid=0

PROJECT_TRACKER_SPREADSHEET_TITLE=PROJECT TRACKER_CINELOOM POSTWORKS_ANTIGRAVITY
PROJECT_TRACKER_SPREADSHEET_ID=1NkRayJ7mBHkBIT_bIXQyOaTPy2zK1QCpTfT_tInL-H0
PROJECT_TRACKER_SPREADSHEET_URL=https://docs.google.com/spreadsheets/d/1NkRayJ7mBHkBIT_bIXQyOaTPy2zK1QCpTfT_tInL-H0/edit?pli=1&gid=0#gid=0

# GOOGLE DRIVE & APPS SCRIPT WEBHOOKS
GOOGLE_DRIVE_FOLDER_ID=your_drive_folder_id_here
APPS_SCRIPT_WEBHOOK_URL=https://script.google.com/macros/s/YOUR_EXEC_ID/exec

GOOGLE_CLIENT_ID=your_client_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_client_secret

# DISCORD ECOSYSTEM WEBHOOKS & BOT SECRETS
DISCORD_INVOICE_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN
DISCORD_CHASE_LIST_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_WEBHOOK_ID/YOUR_WEBHOOK_TOKEN
DISCORD_BOT_TOKEN=your_bot_token
DISCORD_CLIENT_ID=your_client_id
DISCORD_GUILD_ID=your_server_id

